body {
    background-color: rgb(104, 135, 146);
}

h1 {
    font-size: 50px;
}

label {
    font-size: 30px;
}

::placeholder {
    color: rgb(221, 123, 128);
    font-size: 16px;
    font-style: italic;
  }
  
  .create1{
    background-color:rgb(111, 175, 175);
    text-align: center;
    border-radius: 5px;
    border-style: double;
    padding: 15px 32px
 }

 .button-container{
     background-color:gray;
     border-style: double;

 }

 .orginal {
     
     border-style: double;
     table-layout:auto;
     font-style: italic;
     font-size: 16px;
     text-align: center;
     align-items: center;
     border:1px solid darkblue;
     width:100%;
     padding: 15px;
     margin-left: auto;
     margin-right: auto;
 }

 .header {
     border-top: 1px;
     background-color:turquoise;
     align-items: center;
     padding: 10px;
 }
 

 .button1 {
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;


 }

 .button2 {
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;

 }

 .button3 {
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;


 }
 .button4 {
    background-color: #9c95b9;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;

 }
 