body {
    background-color: rgb(104, 135, 146);
    margin:0rem;

    
    }

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 30px;

}

label {
    font-size: 20px;
}

::placeholder {
    color: rgb(221, 123, 128);
    font-size: 16px;
    font-style: italic;
  }
  
  .create1{
    background-color:rgb(111, 175, 175);
    text-align: center;
    border-radius: 5px;
    border-style: double;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 90px;
    margin-left: 90px;
    
    
    
 }

 .button-container{
    background-color:gray;
    border-style: double;
    padding:5px 20px;
    margin-left: 220px;
    margin-right:  220px;
    margin-bottom: 80px;

}

 .orginal {
     
     border-style: double;
     table-layout:fixed;
     font-style: italic;
     font-size: 16px;
     text-align: center;
     align-items: center;
     border:1px solid darkblue;
     width:100%;
     padding: 10px;
     margin-left: auto;
     margin-right: auto;
     height: fit-content;
 }

 .header {
     border-top: 1px;
     background-color:turquoise;
     align-items: center;
     padding: 10px;
 }
 

 .button1 {
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;


 }

 .button2 {
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;

 }

 .button3 {
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;


 }
 .button4 {
    background-color: #9c95b9;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;

 }
 

.dont_show {
    display: none;
    position: absolute;
    left: 30px;
}

.show {
    display: block;
}
 .remove{
     background-color:darkgray;
     border:thick;
     text-align: center;
     text-decoration:underline;
     font-size: 13px;
     cursor: pointer;
     border-radius: 3px;
     margin: 8px 2px;
     font-style:italic;
 }
 .edit{
    background-color:darkgray;
    border:thick;
    text-align: center;
    text-decoration:underline;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
    margin: 8px 2px;
    font-style:italic;
 }

 .update1{
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 2px;
    cursor: pointer;
    align-content: right;

 }
.addnew {
    background-color: #211f7e;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: enter;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 1200px;
    

}

.search-input {
    font-size: 16px;
    left:30px;
    position: absolute;
    background-color:dimgray;
    
}
